botocore
boto3
requests
types-requests
tbump
packaging
typer[all]
myst-parser
m2r2
pytest
python-dateutil
types-python-dateutil
black
mypy
pylint
moto[all]
build
twine
hatch
truststore
sphinx==7.4.7
sphinx-autodoc-typehints
sphinxcontrib-napoleon
sphinx_rtd_theme
sphinx-pdj-theme
sphinx-autoapi
sphinx-terraform
pulumi
pulumi-aws
importlib-resources
